<span
  *ngIf="
    formController?.invalid &&
    (formController?.dirty || formController?.touched)
  "
>
  <small *ngIf="formController?.errors?.['required']" class="p-error block"
    >{{ field }} is required</small
  >
  <small *ngIf="formController?.errors?.['pattern']" class="p-error block">
    <ng-container *ngIf="constants.Email === field">
      Format of an {{ field }} is name@mail.com
    </ng-container>
    <ng-container *ngIf="constants.Email !== field">
      {{ field }} should be only letters with length of at least 3</ng-container
    >
  </small>
  <small
    id="Email-3"
    *ngIf="formController?.errors?.['mailNotExist']"
    class="p-error block"
    >{{ field }} is not valid You need to input a valid mail
  </small>
</span>
