:host {
  padding: 30px;
  width: 264px;;
  background-color: white;
  border-radius: 10px;
}
h2,
h4 {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}
.inputText {
  width: 197px;
}
.submit {
  margin-top: 0.5em;
}
